/* You can add global styles to this file, and also import other style files */
.padding
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.component-padding
{
    padding-top: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
