<div class="container component-padding">
    <div>
      <h1>Global Feed</h1>
    </div>
    <div>
      <div class="form-group">
        <input type="text" (keyup)="getFeed()" [(ngModel)]="username" class="form-control" placeholder="Type username or a partial username to see their tweets...">
      </div>
      <div *ngIf="errorText" class="alert alert-danger" role="alert">
        {{errorText}}
      </div>
    </div>
    <div class="component-padding" *ngIf="suggestedUsers.length">
      <h4>Suggested users to follow</h4>
      <button type="button" class="btn btn-outline-info follow-button" *ngFor="let u of suggestedUsers">{{u}}</button>
    </div>
    <div class="component-padding">
      <hr class="margin-bottom-10">
      <div *ngIf="!messages.length">Feed is empty.</div>
      <app-feed [messages]="messages"></app-feed>
    </div>
  </div>