<div class="container component-padding">
  <div>
    <h1>Post a Tweet</h1>
  </div>
  <div>
    <div class="form-group">
      <textarea placeholder="Type your tweet here..." [(ngModel)]="content" class="form-control" rows="3"></textarea>
    </div>
    <div class="text-right">
      <button type="button" (click)="postMessage()" class="btn btn-primary">Post</button>
    </div>
    <div *ngIf="notificationText" class="alert" [ngClass]="{'alert-primary': postMessageSuccess, 'alert-danger': !postMessageSuccess}" role="alert">
      {{notificationText}}
    </div>
  </div>
  <div class="component-padding">
    <h2 *ngIf="latestMessages">Your latest tweets</h2>
    <span>(These are only the messages you've just posted right now. Select "My Feed" or "Global Feed" to see other users posts.</span>
    <app-feed [messages]="latestMessages"></app-feed>
  </div>
</div>